BraveSoftware/
Code/
EOS-greeter.conf
GIMP/
Google/
Insomnia/
JetBrains/
MongoDB Compass/
OpenTabletDriver/
QtProject.conf
Thunar/
autostart/
cef_user_data/
composer/
create-next-app-nodejs/
dconf/
discord/
eos-update-notifier.first_init
inkscape/
example.picom.conf
fish/
godot/
gtk*/
kconf_updaterc
kdeglobals
ksnip/
libreoffice/
menus/
mimeapps.list
neofetch/
nextjs-nodejs/
obs-studio/
okular*
pavucontrol.ini
pulse/
screenkey.json
systemd/
user-dirs*
v4l2ucp/
xfce4/

nvim/lazy-lock.json
